.social {
	align-items: center;
	justify-content: flex-start;
	cursor: pointer;
}

.social_logo {
	width: 25px;
	margin-right: 10px;
}

.social_link {
	font-size: 1.15rem;
	font-weight: 300;
	color: white;
}